body{
    background-color: black;
    display: flex;
}

nav{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}